<!DOCTYPE html>
<html>
    <head>
        <title>Setup vCenter Info</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap-table.css">

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-table.min.js"></script>
        <script src="assets/js/extensions/tree-column/bootstrap-table-tree-column.js"></script>
        <script src="assets/js/extensions/group-by-v2/bootstrap-table-group-by.js"></script>
    </head>
    <body>
    <div class="container">
        <p> Setup VMWare vCenter Account </p>
        <p> {{ user.message}} </p>
         <form id="regform" role="form" method="POST">
          <div class="form-group">
            <label for="vcenter">vCenter IP:</label>
            <input type="text" class="form-control" id="vcenter" name="vcenter" value="{{ user.vcenter }}">
          </div>     
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password" value="{{ user.password }}">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div>
      <script>
        var $regUrl = document.location.origin + "/appcenter/Cisco/VMWareUtilE/reg.html";
        $(function() {
            $('#regform').attr('action', $regUrl);
        });
      </script>
    </div>
    </body>
</html>